

blockquote .frase{
  font-size: 12.5px !important;
  font-style: italic ;

}


.alert-danger {
 color: white;
 background-color: #db2736 !important;
 border-color: #bf111f;
}


.CentrarCol{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.col-center{
 float: none;
 margin: 0 auto;
}


.login-box,
.register-box {
  width: 460px !important;
}

.box-header {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;

}

