
blockquote .frase{
  font-size: 12.5px !important;
  font-style: italic ;

}


.alert-danger {
 color: white;
 background-color: #db2736 !important;
 border-color: #bf111f;
}


.CentrarCol{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.col-center{
 float: none;
 margin: 0 auto;
}


.login-box,
.register-box {
  width: 460px !important;
}

.box-header {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.login-logo, .register-logo {
    font-size: 35px;
    text-align: center;
   margin-bottom: 5px;
    font-weight: 300;
    padding-bottom: 10px;
}

.sub-tit-logo {
  font-size: 18px;
  font-weight: 200;
}

.active {
  border-left-color: #3c8dbc !important;
  color: #fff !important;
  background: #3C8DBC !important;
}


/* Las animaciones de entrada y salida pueden utilizar */
/* diferentes funciones y duraciones                   */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(.17, .67, .83, .67);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateY(800px);
  opacity: 0;
}
